{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %} {% for category, message in messages %} {% if category == "error" %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.text.label(class="form-label") }}

        {{ form.text(class="form-control", rows="5") }}
        <br />
        {{ form.option2a.label(class="form-label") }}

        {{ form.option2a(class="form-control", rows="5") }}
        <br />
        {{ form.option2b.label(class="form-label") }}

        {{ form.option2b(class="form-control", rows="5") }}
        <br />
        {{ form.answer2.label(class="form-label") }}

        {{ form.answer2(class="form-control", rows="5") }}
        <br />
        {{ form.feedback2.label(class="form-label") }}

        {{ form.feedback2(class="form-control", rows="5") }}
        <br />
        {{ form.level2.label }}
        {{ form.level2 }}
        <br />
        <br />
        {{ form.point2.label }} {{ form.point2 }}
        <br />
        <br />
        {{ form.tag2.label }} {{ form.tag2 }}
        <br />
        <br />
        {{ form.submit2(class="btn btn-primary") }}
    </form>
    <br>
    <a href="/show_question2" class="btn btn-outline-secondary">Go Back</a>
</div>

{% endblock content %}