{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %} {% for category, message in messages %} {% if category == "error" %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<div class="card text-center" id="home">
    <div class="card-body">
      <h1 class="card-title" style="font-weight: bold; color: rgb(250, 184, 60); font-size: 150px; font-style: italic; font-family: serif;">Welcome</h1>
      <h2 class="card-text" style="font-weight: bold; color: rgb(250, 184, 60); font-size: 60px; font-family: serif;">Automated Assessment Tool Prototype </h2>
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    <div class="card-footer" style="background-color: rgb(250, 184, 60); font-weight: bold; color: white; font-family: serif; font-size: 30px;">
      Created by Team Q
    </div>
</div>
{% endblock content %}




