.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .navbar {
    font-size: 1em;
    padding-left: 0.5rem;
    text-decoration: none;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  #account {
    margin-left: 19.5rem;
  }
  
  .navbar a:hover{ 
    background: white;
    text-decoration: none;
    border-radius: 0.3rem;
    color: black; 
    font-style: italic;
  }
  
  #home {
    margin-top: 5rem;
  }
  
